<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">  
    <a class="navbar-brand" routerLink="dashboard">Event Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink="events">Events</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="guests">Guests</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="contacts">Contacts</a>
        </li>
      </ul>
    </div>

    <ul *ngIf="loggedIn()" class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ getUserName() }}
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">
            Profile
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" (click)="logout()">
            Logout
          </a>
        </div>
      </li>
    </ul>
    <button *ngIf="!loggedIn()" class="btn btn-success" (click)="login()">Login</button>
  </div>
</nav>